{{>common/header}}
<div class="search">
    <!-- Search Contents -->
    
    <div class="container fill_height">
        <div class="row fill_height">
            <div class="col fill_height">

                <!-- Search Tabs -->

                <div class="search_tabs_container">
                    <div class="search_tabs d-flex flex-sm-row flex-column align-items-center align-items-start justify-content-sm-between justify-content-start">
                        <div class="search_tab active d-flex flex-column align-items-center justify-content-sm-center justify-content-start">
                            <i class="search_icon fas fa-map-location-dot"></i>
                            오늘의 일정
                        </div>
                        <div class="search_tab d-flex flex-column align-items-center justify-content-sm-center justify-content-start">
                            <i class="search_icon fas fa-comments"></i>
                            실시간 Talk
                        </div>
                        <div class="search_tab d-flex flex-column align-items-center justify-content-sm-center justify-content-start">
                            <i class="search_icon fas fa-cloud-sun"></i>
                            날씨
                        </div>
                        <div class="search_tab d-flex flex-column align-items-center justify-content-sm-center justify-content-start">
                            <i class="search_icon fas fa-headset"></i>
                            긴급 전화
                        </div>
                        <div class="search_tab d-flex flex-column align-items-center justify-content-sm-center justify-content-start">
                            <i class="search_icon fa-brands fa-pinterest"></i>
                            메뉴5
                        </div>
                        <div class="search_tab d-flex flex-column align-items-center justify-content-sm-center justify-content-start">
                            <i class="search_icon fa-brands fa-pinterest"></i>
                            메뉴6
                        </div>
                    </div>		
                </div>
            </div>
        </div>
    </div>		
</div>

<!-- Intro -->

<div class="intro">
    <div class="container">
        <!-- Search Panel -->
        <div class = "search_panel active">
            <form action="#" id="search_form_1" class="search_panel_content">
                <div class="row">
                    <div class="col">
                        <h2 class="intro_title text-center">오늘의 일정 페이지</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="intro_text text-center">
                            여기에 작성
                        </p>
                    </div>
                </div>
                <div class="row intro_items">
                    <div class="col intro_col">
                        <div class="row intro_item">
                            <div class="col-md-6">
                                <div class="intro_item_overlay"></div>
                                <div class="intro_item_background" style="background-image:url(/static/img/intro_1.jpg)"></div>
                                <div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
                                    <div class="intro_center text-center">
                                        <h1>톨레도</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex flex-column align-items-center">
                                <div class="intro_date text-center">May 25th - June 01st</div>
                                <p class="intro_schedule d-flex text-center">일정 내용</p>
                                <div class="button intro_button">
                                    <div class="button_bcg"></div>
                                    <a href="#">일정 상세 보기<span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row intro_item">
                            <div class="col-md-6">
                                <div class="intro_item_overlay"></div>
                                <div class="intro_item_background" style="background-image:url(/static/img/intro_2.jpg)"></div>
                                <div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
                                    <div class="intro_center text-center">
                                        <h1>프로도 대성당</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex flex-column align-items-center">
                                <div class="intro_date text-center">May 25th - June 01st</div>
                                <p class="intro_schedule d-flex text-center">일정 내용</p>
                                <div class="button intro_button">
                                    <div class="button_bcg"></div>
                                    <a href="#">일정 상세 보기<span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row intro_item">
                            <div class="col-md-6">
                                <div class="intro_item_overlay"></div>
                                <div class="intro_item_background" style="background-image:url(/static/img/intro_3.jpg)"></div>
                                <div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
                                    <div class="intro_center text-center">
                                        <h1>말라가</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex flex-column align-items-center">
                                <div class="intro_date text-center">May 25th - June 01st</div>
                                <p class="intro_schedule d-flex text-center">일정 내용</p>
                                <div class="button intro_button">
                                    <div class="button_bcg"></div>
                                    <a href="#">일정 상세 보기<span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Search Panel -->
        <div class = "search_panel">
            <form action="#" id="search_form_2" class="search_panel_content">
                <div class="row">
                    <div class="col">
                        <h2 class="intro_title text-center">실시간 Talk 페이지</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="intro_text text-center">
                            여기에 작성
                        </p>
                    </div>
                </div>
            </form>
        </div>

        <!-- Search Panel -->
        <div class = "search_panel">
            <form action="#" id="search_form_3" class="search_panel_content">
                <div class="row">
                    <div class="col">
                        <h2 class="intro_title text-center">날씨 페이지</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="intro_text text-center">
                            여기에 작성
                        </p>
                    </div>
                </div>
            </form>
        </div>
        <!-- Search Panel -->
        <div class = "search_panel">
            <form action="#" id="search_form_4" class="search_panel_content">
                <div class="row">
                    <div class="col">
                        <h2 class="intro_title text-center">긴급 전화 페이지</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="intro_text text-center">
                            여기에 작성
                        </p>
                    </div>
                </div>
            </form>
        </div>

        <!-- Search Panel -->
        <div class = "search_panel">
            <form action="#" id="search_form_5" class="search_panel_content">
                <div class="row">
                    <div class="col">
                        <h2 class="intro_title text-center">메뉴5 페이지</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="intro_text text-center">
                            여기에 작성
                        </p>
                    </div>
                </div>
            </form>
        </div>

        <!-- Search Panel -->
        <div class = "search_panel">
            <form action="#" id="search_form_6" class="search_panel_content">
                <div class="row">
                    <div class="col">
                        <h2 class="intro_title text-center">메뉴6 페이지</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="intro_text text-center">
                            여기에 작성
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{>common/footer}}
