{{>common/header}}
<div class="search">
    <!-- Search Contents -->
    
    <div class="container fill_height">
        <div class="row fill_height">
            <div class="col fill_height">

                <!-- Search Tabs -->

                <div class="search_tabs_container">
                    <div class="search_tabs d-flex flex-sm-row flex-column align-items-center align-items-start justify-content-sm-between justify-content-start">
                        <div class="search_tab active d-flex flex-column align-items-center justify-content-sm-center justify-content-start">
                            <i class="search_icon fas fa-hotel"></i>
                            호텔
                        </div>
                        <div class="search_tab d-flex flex-column align-items-center justify-content-sm-center justify-content-start">
                            <i class="search_icon fas fa-house"></i>
                            모텔
                        </div>
                        <div class="search_tab d-flex flex-column align-items-center justify-content-sm-center justify-content-start">
                            <i class="search_icon fas fa-mountain-city"></i>
                            펜션/빌라
                        </div>
                        <div class="search_tab d-flex flex-column align-items-center justify-content-sm-center justify-content-start">
                            <i class="search_icon fas fa-tents"></i>
                            캠핑
                        </div>
                        <div class="search_tab d-flex flex-column align-items-center justify-content-sm-center justify-content-start">
                            <i class="search_icon fas fa-people-roof"></i>
                            게스트하우스
                        </div>
                    </div>		
                </div>
            </div>
        </div>
    </div>		
</div>
{{>common/footer}}