{{>common/header}}
<title>게 시 판</title>
</head>
<style>
	
	.notice_panel{
		/* display: none !important; */
		width: 100%;
		height: 100%;
		-webkit-animation: fadeEffect 1s;
		animation: fadeEffect 1s;
	}
	.notice_title{
		font-weight: 700;
		color: #2d2c2c;
		margin-top: 60px;
		margin-bottom: 30px;
	}
	.notice_head{
		font-size: 24px;
		color: #929191;
		line-height: 1.336;
		margin-bottom: 0px;
		align-items: center;
		border-bottom: 1px solid;
	}
	.notice_save_btn, .comments_save_btn {
		width: 100px;
		display: block;
		font-size: 13px;
		font-weight: 700;
        border-color : #350a4e;
		background-color: #350a4e;
		color: #fff;
		text-transform: uppercase;
		line-height: 40px;
		padding-left: 46px;
		padding-right: 46px;
		white-space: nowrap;
		z-index: 2;
	}
	.notice_save_btn:hover, .comments_save_btn:hover{
		background-color: #fa9e1b;
	}

	.board_row{
		padding-top:2%;
	}

    #noticeContents{
        height: 50vh;
        resize : None;
    }
    .noticeLabel{
        font-size: 20px;
        font-weight: 700;
        color : #350a4e;
    }
    .notice_title_row{
        margin-top: 20px;
    }
    .align-bottom {
        align-self: flex-end !important;
    }
    .notice_sub_row{
        margin-top:30px;
		color : black;
		font-weight: 500;
    }
    textarea[readonly] {
        background-color: #FFFFFF;
    }
    .notice_btn a,.comments_btn a{
		width: 100px;
		display: block;
		font-size: 13px;
		font-weight: 700;
		background-color: #350a4e;
		color: #fff;
		text-transform: uppercase;
		line-height: 40px;
		padding-left: 46px;
		padding-right: 46px;
		white-space: nowrap;
		z-index: 2;
	}

	.notice_del_btn{
		width: 100px;
		display: block;
		font-size: 15px;
		font-weight: 700;
		background-color: #cb5478;
		color: #fff;
		text-transform: uppercase;
		line-height: 40px;
		padding-left: 46px;
		padding-right: 46px;
		white-space: nowrap;
		z-index: 2;
	}
	.notice_del_btn:hover{
		background-color: #cc0843;
	}

	.notice_btn a:hover, .comments_btn a:hover{
		background-color: #fa9e1b;
		border-color : #fa9e1b;
	}

	#commentContents{
		height: 10vh;
        resize : None;
	}
	.comments_panel{
		width: 100%;
		height: 100%;
		-webkit-animation: fadeEffect 1s;
		animation: fadeEffect 1s;
	}
	textarea{
		color:black;
	}

	.content_save_btn{
		width: 100px;
		display: block;
		font-size: 10px;
		font-weight: 700;
		background-color: #f9b56d;
		color: #000000;
		text-transform: uppercase;
		line-height: 40px;
		padding-left: 46px;
		padding-right: 46px;
		white-space: nowrap;
		z-index: 2;
	} 
	.content_save_btn:hover{
		background-color:#fa9e1b;
	}
	.comment_del_btn{
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 20px;
		display: flex;
		font-size: 10px;
		font-weight: 700;
		background-color: #cb5478;
		color: #fff;
		text-transform: uppercase;
		line-height: 40px;
		padding-left: 46px;
		padding-right: 46px;
		white-space: nowrap;
		z-index: 2;
	}
	.comment_update_btn{
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 20px;
		display: flex;
		font-size: 10px;
		font-weight: 700;
		background-color: #350a4e;
		color: #fff;
		text-transform: uppercase;
		line-height: 40px;
		padding-left: 46px;
		padding-right: 46px;
		white-space: nowrap;
		z-index: 2;
	}
	.comment_del_btn:hover{
		background-color: #cc0843;
	}
	.comment_update_btn:hover{
		background-color:#fa9e1b;
	}
	.comment_textarea{
		height: 10vh;
        resize : None;
	}
	.comment_user{
		font-weight: 500;
		font-size:17px;
		color:black;
	}
</style>
<body>

<div class="noticeView pb-4">
	<div class="container">
		<div class="notice_panel">
		{{#notice}}
            <div class="row notice_title_row">
				<div class="col py-0">
					<h2 class="notice_title my-0 py-0">{{title}}</h2>
				</div>
			</div>
            <div class="row notice_sub_row">
                <div class="col-md-7 col-sm-12 align-bottom">
                    작성자 : {{userId}}
                </div>
                <div class="col-md-3 col-sm-12 .align-bottom">
                    작성일자 : {{createDate}}
                </div>
                <div class="col-md-2 col-sm-12 .align-bottom">
                    조회수 : {{viewCnt}} View
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col d-flex flex-lg-row justify-content-center">
                    <textarea class="form-control" id="noticeContents" name="contents" rows="3" readonly>{{contents}}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end notice_btn">
					<form id="noticeTask" class = "btn my-1 px-1 py-0" method = "post">
						<div class="d-flex flex-row justify-content-end">
							<a class="btn notice_save_btn my-1 px-1 py-0 mr-2" role="button" href="/board" style="font-size:15px;">목록</a>
							{{#adminYn}}
								<a class="btn notice_save_btn my-1 px-1 py-0 mr-2" role="button" href="/board/notice/{{notice.noticeId}}/edit" style="font-size:15px;">수정</a>
								<button class="btn notice_del_btn my-1 px-1 py-0" style="font-size:15px;" onclick="confirmDelete()" type="button">삭제</button>
							{{/adminYn}}
						</div>
					</form>
                </div>
            </div>
		</div>
		{{/notice}}
	</div>

	<hr>
	
	<div class="container">
		{{#commentDtos}}
		<div class="row">
			<div class="col">
				<div class="comments_panel">
						<div class="row notice_sub_row mb-0 mt-1">
							<p class="comment_user my-1">{{userId}}</p>
						</div>
						
						<form id="commentTask_{{commentId}}" class="mt-1" method="post" enctype="application/x-www-form-urlencoded">
							<div class="row mt-0">
								<textarea class="form-control comment_textarea" name="contents" {{^sameUserYn}}readonly{{/sameUserYn}}>{{contents}}</textarea>
							</div>
							<div class="row">
								<div class="col">
									<input type="hidden" name="userId" value="{{loginUserId}}">
									<input type="hidden" name="noticeId" value="{{noticeId}}">
									<input type="hidden" name="commentId" value="{{commentId}}">
									{{#sameUserYn}}
									<div class="row d-flex justify-content-end mt-1">
										<button class="btn comment_update_btn mb-1 px-1 py-0 mr-2" onclick="commentUpdate(this)" type="button">수정</button>
										<button class="btn comment_del_btn mb-1 px-1 py-0" onclick="commentDelete(this)" type="button">삭제</button>
									</div>
									{{/sameUserYn}}
								</div>
							</div>
						</form>
				</div>
			</div>
		</div>
		{{/commentDtos}}
		{{#loginUserId}}
		<div class="row">
			<div class="col">
				<div class="comments_panel">
					<form class="mt-3" action="/comments/save" method="post" enctype="application/x-www-form-urlencoded">
						<input type="hidden" name="userId" value="{{loginUserId}}">
						<input type="hidden" name="noticeId" value="{{notice.noticeId}}">
						<div class="mb-3">
							<label for="commentContents" class="commentLabel">댓글</label>
							<textarea class="form-control" id="commentContents" name="contents" rows="3"></textarea>
						</div>
						<div class="content_btn d-flex justify-content-end">
							<button class="btn content_save_btn mb-3 px-1 py-0" style="font-size:15px;" type="submit">댓글 등록</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		{{/loginUserId}}
	</div>
	
</div>
</body>
<script>
    function confirmDelete() {
        if (confirm("정말로 삭제하시겠습니까?")) {
            document.getElementById("noticeTask").action = "/board/notice/{{noticeId}}/delete";
            document.getElementById("noticeTask").submit();
        }
    }
	function commentUpdate(button){
		let form = button.closest('form');
		// var formId = form.getAttribute('id');
		form.action = "/comments/update";
        form.submit();
	}
	function commentDelete(button){
		let form = button.closest('form');
    	// var form = document.getElementById(formId);
		form.action = "/comments/delete";
        form.submit();
	}
</script>
{{>common/footer}}	
<!-- <script src="/static/js/bootstrap.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
