{{>common/header}}
<title>비밀번호 찾기</title>

<script src="http://code.jquery.com/jquery-latest.js"></script>

<script type="text/javascript">
	$(function(result){		
		if($("#joinForm").submit(function(result){
            if ($("#userPw").val() !== $("#userPw2").val()){
				alert("PW가 서로 다릅니다.");
				$("#userPw").val("").focus();
				$("#userPw2").val("");
				return false;
			} else if($.trim($("#userPw").val()) !== $("#userPw").val()){
				alert("공백은 PW로 사용할 수 없습니다.");
				$("#userPw").val("").focus();
				$("#userPw2").val("");
				return false;
            } else if ($("#userPw").val().length <= 4) {
				alert("PW가 4자리 이하입니다.");
				$("#userPw").val("").focus();
				$("#userPw2").val("");
				return false;
            }
		}));
	})
</script>

<style>
    .join_title{
		font-weight: 700;
		color: #2d2c2c;
		margin-top: 60px;
		margin-bottom: 30px;
	}
    .join_card{
        width:60%;
        height:100%;
    }
    .join_btn{
		width: 100px;
		display: flex;
		font-size: 13px;
		font-weight: 700;
		background-color: #350a4e;
		color: #fff;
		text-transform: uppercase;
		line-height: 40px;
		padding-left: 46px;
		padding-right: 46px;
		white-space: nowrap;
		z-index: 2;
	}
    .join_btn:hover{
        background-color: #fa9e1b;
    }
</style>

<body>
    <div class="menu_content d-flex flex-column align-items-center justify-content-left text-center">
        <div class="container mb-5">
            <div class="row">
				<div class="col">
                    <h2>{{userId}}님의 비밀번호 변경</h2>
                </div>
            </div>
            <div class="row d-flex align-items-center justify-content-center">
                <div class="card join_card">
                    <div class="card-body d-flex flex-column">
                        <div class="row">
                            <div class="col">
                                <form id="joinForm" action="/findPw2" method="post">

                                    <div class="row my-3">
                                        <div class="col-3 justify-content-end d-flex align-items-center">
                                            <label for="pwd">* 비밀번호 </label>
                                        </div>
                                        <div class="col-9 d-flex flex-fill">
                                            <input type="password" id="userPw" name="userPw" placeholder="비밀번호를 입력하세요." required>
                                            <div class="col justify-content-end d-flex align-items-center">
                                                <small>최소 4자리 이상의 영문, 숫자, 특수문자 조합</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-3">
                                        <div class="col-3 justify-content-end d-flex align-items-center">
                                            <label for="pwd_equal"> 비밀번호 확인 </label>
                                        </div>
                                        <div class="col-9 d-flex flex-fill">
                                            <input type="password" id="userPw2" placeholder="비밀번호 확인">
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col justify-content-end d-flex align-items-center">
                                            <label id="label2"></label>
                                        </div>
                                    </div>
                                    <input type="hidden" name="userId" id="userId" value="{{userId}}">
                                    <input class="btn join_btn d-flex justify-content-center" type="submit" style="width: 100%;" style="width:60%;height:100%;" value="회원가입">
                                </form>
                                <a href="/index">
                                    <input class="btn join_btn d-flex justify-content-center" type="submit" style="width: 100%;" style="width:60%;height:100%;" value="홈으로 이동">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{{>common/footer}}	